= form_for [@site, @page] do |f|
  -if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  %div
    = f.label :title, 'Page Title'
    = f.text_field :title

  %div
    = f.label :body
    = f.text_area :body

  .actions
    = f.submit 'Save'
