%h1= @page.site

%div
  = link_to 'Show', @page

%table
  %tr
    %td
      = semantic_form_for @page do |f|
        = f.inputs do
          = f.hidden_field :site_id
          = f.input :title
          = f.input :body, :as=>:text
        = f.buttons
    %td#dropzone
      %div#file-uploader
        %noscript
          %p Please enable JavaScript to use file uploader.

      - @page.assets.each do |a|
        %div
          = image_tag("/gridfs/#{a.oid}", :width=>100, 'data-textile'=>"!/gridfs/#{a.oid}(#{a.filename})!")
