%div.ui-layout-center.ui-widget-content.add-padding.grey.add-scrollbar
  %div{:style=>'text-align:right'}
    = link_to 'Show', @page, :target=>'_blank'
  
  = semantic_form_for @page do |f|
    = f.inputs do
      = f.hidden_field :site_id
      = f.input :title
      = f.input :body, :as=>:text

%div.ui-layout-south.ui-widget-content.add-padding.grey
  %button.update
    = @page.new_record? ? 'Create' : 'Update'

%div.ui-layout-east.ui-widget-content.add-padding.grey
  %div#dropzone
    %div#file-uploader
      %noscript
        %p Please enable JavaScript to use file uploader.
  
    - @page.assets.each do |a|
      %div
        = image_tag("/gridfs/#{a.oid}/#{a.filename}", :width=>100, 'data-textile'=>"!/gridfs/#{a.oid}(#{a.filename})!")

