%h1 Listing pages

%p= link_to 'New Page', new_page_path

%table
  %tr
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= page
      %td= link_to 'Show', page
      %td= link_to 'Edit', edit_page_path(page)
      %td= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete

