%div.ui-layout-center.ui-widget-content.add-padding.grey.add-scrollbar
  %h1
    Site -
    = @site
  
  = semantic_form_for @site do |f|
    = f.inputs do
      = f.input :name
      = f.input :domains_txt
      = f.input :layout, :as=>:text

%div.ui-layout-south.ui-widget-content.add-padding.grey
  %button.update
    = @site.new_record? ? 'Create' : 'Update'

%div.ui-layout-east.ui-widget-content.add-padding.grey
  %div#dropzone
    %div#file-uploader
      %noscript
        %p Please enable JavaScript to use file uploader.
  
    - @site.assets.each do |a|
      %div
        - if a.content_type.to_s=='text/css'
          = link_to a.filename, "/gridfs/#{a.oid}/#{a.filename}"
        - else
          = image_tag("/gridfs/#{a.oid}/#{a.filename}", :width=>100, 'data-textile'=>"!/gridfs/#{a.oid}(#{a.filename})!")

