%h1 Site

%div
  = link_to 'Show', @site
  \|
  = link_to 'Back', sites_path

= semantic_form_for @site do |f|
  = f.inputs do
    = f.input :name
    = f.input :domains_txt
    = f.input :layout, :as=>:text
  = f.buttons
