%p#notice= notice


= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path

%h1= @site

%h2 Pages
%ul
  - @site.pages.each do  |p|
    %li= link_to p, [:edit,p]
  %li= link_to 'New Page', new_page_path(:page=>{:site_id=>@site})
