<!DOCTYPE html>
<html>
<head>
  <title>MongoCMS</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'fileuploader', 'jquery.layout.min-1.2.0' %>
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript"> 
	var pageLayout, centerTabsLayout, centerAccordionLayout; 
$(function() { 
		// OUTER/PAGE LAYOUT
		pageLayout = $("body").layout({ 
			west__size:200
		,	east__size:200
		,	south__initClosed:true
		,	north__initClosed:true
		,	west__onresize:	function () { $("#accordion-west").accordion("resize"); }
		,	east__onresize:	function () { if ($("#tabs-east").tabs('option', 'selected') == 1) $("#accordion-east").accordion("resize"); }
		}); 
		$('body > div.ui-layout-center').layout({
			east__size:130
		});
		$("div#accordion-west").accordion({ 'autoHeight':false, 'active':1 });

$('label').each(function() {
var lb = $(this);
var f = lb.attr('for');
var inp = $('input#'+f+', textarea#'+f);
if(inp[0]) { inp.attr('placeholder', lb.text()); lb.hide(); }
});
$( 'textarea.editor, textarea#page_body' ).each(function() {
$(this).ckeditor({ 'width':$(this.parentNode).width() });
 });
 });
	</script> 
    
  <%= csrf_meta_tag %>
</head> 
<body> 

<%- curr_site = @page ? @page.site : @site -%>
<div class="ui-layout-north ui-widget-content add-padding"><%= curr_site %> - User: <%= current_user %> - <%= link_to 'Logout', '/admin/logout' %></div>

<%- if signed_in? -%>
<div id="accordion-west" class="ui-layout-west no-scrollbar add-padding grey">
<h3><a href="#">Sites: <%= curr_site %></a></h3>
<div style="overflow-x:hidden;"><ul>
<%- Site.order_by(:name).all.each do |s| -%>
<li><%= link_to s, edit_site_path(s) %></li>
<%- end -%>
</ul></div>
<%- if curr_site -%>
<h3><a href="#">Pages</a></h3>
<div style="overflow-x:hidden;"><ul class="sortable">
<%- curr_site.pages.order_by(:position.asc,:name.asc).all.each do |p| -%>
<li class="ui-state-default" data-oid="<%= p.id %>"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= link_to p, edit_page_path(p) %></li>
<%- end -%>
<%= link_to 'New page', new_page_path(:page=>{:site_id=>curr_site}) %>
</ul></div>
<%- end -%>
</div>
<%- end -%>

<div id="tabs-center" class="ui-layout-center no-scrollbar grey no-padding">
<%= yield %>
</div>

</body> 
</html>
